<header class=" h-28 overflow-hidden bg-gradient-to-tr from-red-800 outline outline-red-800 to-blue-950 ">
  <div class="moving-element">
    <img class="hover:scale-110" width="30px"  src="./assets/United-States-Flag.png" alt=""> <p>{{USD  | currency: 'USD'}}</p>
    <img class="hover:scale-110" width="36px"  src="./assets/European-Union.png" alt=""><p>{{EUR | currency: 'EUR'}}</p>
    <img class="hover:scale-110" width="30px"  src="./assets/Poland.png" alt=""><p> Zł{{PLN |number: '1.2-3'}}</p>
  </div>
</header>
